{{ partial "header.html" . }}

{{ if and (eq .Kind "section") (not .Params.blog)  }}
	  {{ .Content }}
{{end}}

{{ if .Params.blog }}
    {{ range .Paginator.Pages }}
       <h3><a href="{{.RelPermalink}}">{{.Title}}</a></h3>
       Posted on: {{ .Date }}<br><br>
       {{ .Summary }}
       {{ if .Truncated }}
           <a href="{{.RelPermalink}}">Read more...</a>
       {{ end }} 
       <hr>
    {{ end }}
{{ end }}


{{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}
<ul>
	{{ range .Pages }}
		<li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
	{{ end }}
</ul>
{{end}}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
